#### test
!zoekt*
!zoekt-mirror-github
!zoekt-mirror-github-linux
!nsswitch.conf
*darwin*
*windows*
*netbsd*
*openbsd*
*netbsd*

#######################################
##### common
#######################################
*.yml
*.md

#######################################
##### shared
#######################################
shared/data
shared/data/**

#######################################
##### internal
#######################################
*example
build.sh
scripts
scripts/**

#######################################
##### tests / ci
#######################################
profile.out
coverage.txt

#######################################
##### git
#######################################
.git
.git/**
.github/
.github/**
.gitignore

#######################################
##### docker
#######################################
.dockerignore
Dockerfile
docker*

#######################################
##### dep managers
#######################################
Gopkg.*
glide.*